#nav-active-header {
  font-weight: 500;
  opacity: 1;
}

nav ul li a {
  color: var(--gray-dark);
}

/* ----contato------ */

.hero-section-pages {
  background-image: url(../assets/bg-hero-contato.png);
}

.form-section {
  background-image: url(../assets/bg-about.png);
  background-size: cover;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 2rem;
}

.form-container h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 65px;
}

form {
  width: 416px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 5px;
}

input[type='text'],
input[type='email'] {
  height: 56px;
}

input[type='text'],
input[type='email'],
textarea {
  background-color: #a79f9e;
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  font-size: 1.2rem;
  color: var(--white);
  font-weight: 300;
  margin-bottom: 10px;
}

textarea {
  min-height: 166px;
  padding-top: 20px;
  resize: vertical;
  
}

button[type='submit'] {
  margin-top: 18px;
  margin-bottom: 50px;
  width: fit-content;
  align-self: flex-end;
  background-color: var(--ocre);
  color: var(--gray-dark);
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 350;
  padding: 1rem 2rem;
  border-radius: 10px;
  transition: 0.5s;
}

button[type='submit']:hover {
  opacity: 0.7;
}

.form-section ul {
  list-style: none;
  margin-bottom: 40px;
}

.form-section ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-section ul li a {
  margin-left: 10px;
  font-size: 1.2rem;
  transition: 0.5s;
}

.form-section ul li a:hover {
  opacity: 0.7;
}

::placeholder {
  color: var(--white);
  opacity: 0.5;
}

.logo-contato {
  width: 76px;
  height: auto;
}

#mensagemEnviada {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

.erro-msg {
  display: flex;
  margin-bottom: 10px;
  align-items: end;
}


@media (max-width: 480px) {
  form, input[type='submit'] {
    width: 100%;
  }
}
